
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("./images/ANIDOM_BobsBurgers_Backplate_02.png");
  background-size: cover;
  background-position: 50%;
  width: 100vw;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}
.my-container{
  margin: 10px auto;
}
h1 {

  font-weight: 700;
  color:rgba(0, 0, 0, 0.9);
  text-shadow: 3px 3px rgb(231, 180, 40);
  text-align: center;
  font-size: 45px;
  line-height: 0.8em;
}
.eat-da {
  font-size: 35px;
  text-shadow: 2px 2px rgba(255, 255, 65, 0);
}

.icon-burger {
  margin: 0 auto;
  display: block;
  width: 35px;
}

h3 {
  font-size: 20px;
}
#burger-name:placeholder {
  color: rgba(190, 190, 190, 0.986);
}
#burger-name:focus::placeholder {
  color: transparent;
}
.add-btn {
  background: rgb(3, 3, 3);
  color: rgb(255, 255, 255);
  border: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .icon-burger {
    width: 30px;
  }
}

h4 {
  background: rgba(243, 233, 146, 0.8);
  margin: 0;
  padding: 10px;
  font-size: 18px;
}

.wait-container, .devoured-container {
  padding: 0;
}
.wait-container ul, .devoured-container ul {
  background: rgba(253, 252, 252, 0.7);
  padding: 0 0 10px 0;
  min-height: 40px;
}
li {
  list-style: none;
  padding: 3px 0 0 0;
}

.devoured-btn, .delete-btn {
  border: 1px solid black;
  background: none;
  margin: 2px;
  padding: 0px 7px;
}
.devoured-btn:hover {
 
  background: rgba(241, 241, 42, 1);
  
}
.delete-btn:hover {
  background: rgb(255, 41, 41);
}