
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

body {
  background-image: url("./images/ANIDOM_BobsBurgers_Backplate_02.png");
  background-size: cover;
  background-position: 20%;
  margin: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
}
.my-container{
  margin: 10px auto;
}
h1 {

  font-weight: 700;
  color:rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 45px;
  line-height: 0.8em;
}
.bobsBurgers {
  font-size: 35px; 
}

.icon-burger {
  margin: 0 auto;
  display: flex;
  width: 35px;
}

h3 {
  font-size: 26px;

}
#burger-name {
  padding-right: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#burger-name:placeholder {
  color: rgba(190, 190, 190, 0.986);
}
#burger-name:focus::placeholder {
  color: transparent;
}
.add-btn {
  background: rgb(66, 177, 1);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .icon-burger {
    width: 80px;
  }
}
.delete-btn {
  /* color: rgb(155, 2, 2); */
  background-color: rgb(3, 3, 3);
  border-radius: 20px;
}
.devoured-btn {
  color: rgba(238, 156, 3, 0.788);
  background-color: rgb(3, 3, 3);
  border-radius: 20px;
}

h4 {
  background: #ffdb58;
  margin: 0;
  padding: 10px;
  font-size: 19px;
}

.wait-container, .devoured-container {
  padding: 5px;
  font-size: 18px;
}
.wait-container ul, .devoured-container ul {
  background: rgba(253, 252, 252, 0.7);
  padding-right: 10px;
  min-height: 40px;
}
li {
  list-style: none;
  padding: 5px 0 0 0;
  inline-size: auto;
 
}

.devoured-btn, .delete-btn {
  border: 1px solid black;
  margin: 2px;
  background: none;
  padding-right: 7px;
}
.devoured-btn:hover {
 
  background: rgb(247, 247, 124);
  
}
.delete-btn:hover {
  background: rgb(255, 41, 41);
  color:white;
}